@model ShopCartViewModel

<div>

    @foreach (var el in Model.shopCart.listshopitems)
    {
        <div class="alert alert-warning mt-3">

            <b>ავტომობილი</b> @el.car.name <br/>
            <b>ფასი</b> @el.car.price.ToString("c")

        </div>

    }
    <hr/>
    <div class="btn btn-danger" asp-controller="order">გადახდა</div>



</div>
