<!--რენდერი Html გამოსახულებაზე-->
<p2>All Cars</p2>
<h3>@Model.CarCategory</h3>

<div class="row mt-5 mb-2">
    @{ foreach (Car car in Model.AllCars)
        {
            @Html.Partial("AllCars", car)
        }
    }
</div>




